@charset "UTF-8";
body {
  font-size: 12px;
}

.formbox .checkbox {
  /* margin: 0; */
  padding: 0;
  /*background: #eee;*/
  height: 16px;
  display: inline-block;
  line-height: 14px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 10px;
  margin: 5px;
}
.formbox .checkbox .el-name {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  padding: 1px;
  vertical-align: middle;
  margin-left: 3px;
}
.formbox .checkbox .el-i {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  padding: 1px;
  vertical-align: middle;
  margin-left: 3px;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  border: 2px solid #6b6b6b;
  padding: 1px;
  /* margin-top: 2px; */
}
.formbox .checkbox .el-i i {
  border-radius: 4px;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 2px;
}
.formbox .checkbox.cur .el-i i {
  /* background: #000; */
}
.formbox .checkbox.forbidden {
  cursor: not-allowed;
  opacity: 0.3;
}
.formbox label.cur .el-i {
  border: 2px solid #4baf50;
}
.formbox label.cur .el-i i {
  background: #4CAF50;
}
.formbox .checkbox {
  overflow: visible !important;
}
.formbox .checkbox .el-name,
.formbox .checkbox .el-i {
  overflow: visible !important;
}

/*.formbox checkbox 选择后的样式*/
/* formbox .checkbox.cur .el-i i {
          display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 3px;
      width: 5px;
      height: 13px;
      transform: rotate(45deg);
      border-style: solid;
      border-color: #9C27B0;
      border-width: 0 4px 4px 0;
      top: -7px;
      left: 2px;
      background: transparent!important;
  }
   */
/*  formbox .checkbox.cur .el-i i{
       position: relative;
       top: -1px;
   } */
.select-checkbox-items {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #313131;
  position: absolute;
  top: -30px;
  color: #314815;
  font-weight: bold;
  border: 1px solid #6d9a39;
  background-color: #8bc34a;
  min-width: auto !important;
  display: inline-block !important;
  padding: 10px !important;
  margin: 0;
}
.select-checkbox-items::before {
  content: "";
  display: inline-block;
  overflow: hidden;
  border-top-width: 30px;
  width: 0;
  height: 0;
  border: 6px solid;
  /* margin-top: 1px; */
  border-color: transparent;
  position: absolute;
  bottom: -13px;
  /* left: 10; */
  border-top-color: #6d9a39;
}

.formbox label.cur.select-checkbox-items .el-i i {
  background: #00bcd4;
}

/* .formbox .checkbox.cur .el-i i{
      background: transparent!important;
  }
  .formbox .checkbox.cur .el-i i::after,
  .formbox .checkbox.cur .el-i i::before {
      content: "";
      transform: rotate(45deg);
      border-radius: 5px;
      background: #000;
  }

  .formbox .checkbox.cur .el-i i::after {
      width: 14px;
      height: 4px;
      display: inline-block;
      position: absolute;
      left: 1px;
      top: 2px;
      transform: rotate(-45deg);
  }

  .formbox .checkbox.cur .el-i i::before {
      width: 7px;
      height: 4px;
      display: inline-block;
      position: absolute;
      left: -1px;
      top: 4px;
      background: #429846;
  } */
label.radio .el-i,
.formbox label.checkbox .el-i {
  display: none;
}

label.radio,
.formbox label.checkbox {
  border: 2px solid #737373;
  padding: 7px;
  border-radius: 5px 10px 10px 10px;
  margin-right: -3px;
  color: #737373;
  vertical-align: middle;
  font-weight: bold;
}

label.radio.cur {
  border: 3px solid rgba(255, 255, 255, 0.1764705882);
  padding: 6px;
  background-color: #2196f3;
  color: #ddd;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.031372549), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.031372549), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.0509803922), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.031372549);
}

.formbox {
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
.formbox label.checkbox.cur {
  border: 3px solid rgba(255, 255, 255, 0.1764705882);
  padding: 6px;
  background-color: #2196f3;
  color: #ddd;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.031372549), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.031372549), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.0509803922), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.031372549);
}

.checkbox-room::before {
  content: "多";
  display: block;
  right: 0px;
  top: 0;
  border: 2px solid #ffffff;
  font-size: 9px;
  height: 12px;
  width: 12px;
  line-height: 12px;
  color: #ffffff;
  font-weight: bold;
  background-color: #2196f3;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
}

.left .content input {
  background-color: 484747;
  box-shadow: inset 20px -17rem 0rem 0px rgba(4, 9, 20, 0.031372549), inset 0 0.9375rem 0rem rgba(4, 9, 20, 0.031372549), inset 0 0.25rem 0rem rgba(4, 9, 20, 0.0509803922), inset 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.031372549);
}

fieldset {
  border-radius: 10px;
  border: 1px solid #585858;
  display: inline-block;
}

.radio {
  /* margin: 0; */
  padding: 0;
  /*background: #eee;*/
  height: 16px;
  display: inline-block;
  line-height: 14px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 10px;
  margin: 5px;
}
.radio .el-name {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  padding: 1px;
  vertical-align: middle;
  margin-left: 3px;
}
.radio .el-i {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  padding: 1px;
  vertical-align: middle;
  margin-left: 3px;
  border-radius: 7px;
  width: 8px;
  height: 8px;
  border: 2px solid #6b6b6b;
  padding: 1px;
  /* margin-top: 2px; */
}
.radio .el-i i {
  border-radius: 7px;
  display: block;
  height: 100%;
  width: 100%;
  /*border-radius: 2px;*/
}
.radio.cur .el-i i {
  background: #000;
}
.radio.forbidden {
  cursor: not-allowed;
  opacity: 0.3;
}
.radio.cur.forbidden {
  cursor: pointer;
  opacity: 1;
}

/*radio 选择后的样式*/
.formbox label.cur .el-i {
  border: 2px solid #4baf50;
  background-color: #fff;
}
.formbox label.cur .el-i i {
  background: #4CAF50;
}

/* 提示显示颜色 */
/* 提示显示颜色 */
/* 提示显示颜色 */
body,
html {
  background-color: none;
  font-size: 12px;
  /* font-family: 微软雅黑, arial, helvetica, verdana, tahoma, sans-serif */
}

/*模式窗口样式*/
.windows .dialog-confirm {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  max-height: auto;
  height: inherit;
  color: #000;
  /* overflow: hidden; */
  background: #e5e5e5;
  min-width: 250px;
}
.windows.black .dialog-confirm {
  color: #969696;
  background: #282d30;
}
.windows .confirm-title {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.windows .confirm-content {
  min-height: 60px;
  line-height: 45px;
  overflow: auto;
}
.windows .confirm-cancel,
.windows .confirm-submit {
  float: right;
  margin-right: 7px;
  cursor: pointer;
  padding: 9px;
}
.windows .confirm-cancel {
  padding-right: 0;
  margin-right: 0;
}
.windows.notice .dialog-confirm .confirm-submit, .windows.ios.notice .dialog-confirm .confirm-submit {
  background: #942b4f;
  color: #000000;
}
.windows.notice .dialog-confirm .confirm-submit:hover, .windows.ios.notice .dialog-confirm .confirm-submit:hover {
  background: #E91E63;
}
.windows .confirm-submit {
  /*background: #a94442;*/
  background-color: #72b379;
  border-radius: 7px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.windows .confirm > .confirm-submit {
  min-width: 150px;
  text-align: center;
  margin-top: 10px;
}
.windows .confirm > .confirm-cancel {
  margin-top: 10px;
}
.windows .confirm-submit:hover {
  background-color: #319844;
}
.windows.graphic .content {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(44, 44, 44, 0.2392156863) !important;
  padding: 10px !important;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.windows.dialog-tips {
  /*"提示Tips":内容*/
}
.windows.dialog-tips .content {
  background-color: #bbff6b;
  padding: 10px;
  color: #2b5616;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 18px;
  border-left: 2px solid #2b5616;
  /*min-width:400px;*/
}
.simply .windows.dialog-tips .content, .loading .windows.dialog-tips .content, .windows.dialog-tips .content.loading {
  background-image: url(../images/index.cutie-fox-spinner.gif);
  background-size: 30px;
  background-position: 2px 3px;
  background-repeat: no-repeat;
  padding-left: 44px;
}
.windows.dialog-tips .content .mark {
  font-weight: 700;
  font-size: 14px;
}
.windows.dialog-tips .content .close {
  /* color: #503004 */
  width: 10px;
  height: 10px;
  line-height: 9px;
  background-color: rgba(0, 0, 0, 0.2392156863);
  text-align: center;
  border-radius: 3px 8px 3px 3px;
  margin: 8px 0px 0px 0px;
  padding: 2px;
  position: absolute;
  top: 0px;
  right: 5px;
  color: #58972b;
  cursor: pointer;
}
.windows.dialog-tips .bg {
  display: none;
}
.windows.dialog-tips.notice .content .close, .windows.dialog-tips.error .content .close {
  color: #480d0c;
}
.windows.dialog-tips.notice .content,
.windows.dialog-tips .content.notice {
  background-color: #ffc107;
  color: #503004;
  border-left: 2px solid #503004;
}
.windows.dialog-tips.error .content,
.windows.dialog-tips .content.error {
  background-color: #e91e63;
  color: #480d0c;
  border-left: 2px solid #480d0c;
}
.windows.dialog-tips.simply .content {
  background-color: initial;
  background-position: center;
  height: 25px;
}
.windows.dialog-tips.simply .content .close {
  display: none;
}
.windows.dialog-tips.simply .bg {
  display: none;
}
.windows.dialog-tips .i-s-left .i-mark {
  border-left-color: #bbff6b;
}
.windows.dialog-tips .i-s-right.content .i-mark {
  border-right-color: #bbff6b;
}
.windows.dialog-tips .i-s-bottom .i-mark {
  border-bottom-color: #bbff6b;
}
.windows.dialog-tips .i-mark {
  border-top-color: #bbff6b;
}
.windows.dialog-tips.error .i-s-left .i-mark {
  border-left-color: #e91e63;
}
.windows.dialog-tips.error .i-s-right .i-mark {
  border-right-color: #e91e63;
}
.windows.dialog-tips.error .i-s-bottom .i-mark {
  border-bottom-color: #e91e63;
}
.windows.dialog-tips.error .i-mark {
  border-top-color: #e91e63;
}
.windows.dialog-tips.notice .i-s-left .i-mark {
  border-left-color: #ffc107;
}
.windows.dialog-tips.notice .i-s-right .i-mark {
  border-right-color: #ffc107;
}
.windows.dialog-tips.notice .i-s-bottom .i-mark {
  border-bottom-color: #ffc107;
}
.windows.dialog-tips.notice .i-mark {
  border-top-color: #ffc107;
}
.windows.dialog-tips.black {
  background: none !important;
}
.windows.dialog-tips.black .content {
  background-color: #2b2b2b;
  border-color: #1b1b1b;
  color: #b5b5b5;
  padding-right: 30px;
}
.windows.dialog-tips.black .content .close {
  color: #828282;
  font-size: 15px;
  background-color: #353535;
  display: block;
  line-height: 35px;
  text-align: center;
  right: -10px;
  top: 0;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  height: 40px;
  width: auto;
}
.windows.dialog-tips.black .content .close {
  right: 0;
}
.windows.dialog-tips.black .i-s-left .i-mark {
  border-left-color: #2b2b2b;
}
.windows.dialog-tips.black .i-s-right .i-mark {
  border-right-color: #2b2b2b;
}
.windows.dialog-tips.black .i-s-bottom .i-mark {
  border-bottom-color: #2b2b2b;
}
.windows.dialog-tips.black .i-mark {
  border-top-color: #2b2b2b;
}
.windows.dialog-tips.white .content {
  background-color: #e6e6e6;
  border-color: #b7b7b7;
  color: #545454;
  padding-right: 30px;
}
.windows.dialog-tips.white .content .close {
  color: #b12424;
  background-color: #FF5722;
  font-size: 15px;
  display: block;
  /* width: 25px; */
  /* height: 100%; */
  /* border-radius: 10px; */
  line-height: 35px;
  text-align: center;
  right: -10px;
  top: 0;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  height: 40px;
  width: auto;
  right: 0px;
  top: -8px;
  min-height: calc(100% - 4px);
}
.windows.dialog-tips.white .i-s-left .i-mark {
  border-left-color: #e6e6e6;
}
.windows.dialog-tips.white .i-s-right .i-mark {
  border-right-color: #e6e6e6;
}
.windows.dialog-tips.white .i-s-bottom .i-mark {
  border-bottom-color: #e6e6e6;
}
.windows.dialog-tips.white .i-mark {
  border-top-color: #e6e6e6;
}
.windows.dialog-tips.white .i-s-left .close {
  right: 0;
}
.windows .content > img {
  border-radius: 10px;
}
.windows .content.i-s-left .i-mark, .windows .content.i-s-right .i-mark, .windows .content.i-s-bottom .i-mark {
  border-top-color: transparent;
}
.windows .i-s-bottom .i-mark {
  border-bottom-color: #191919;
  top: 1px;
  bottom: auto;
}
.windows .i-s-left .i-mark {
  border-top-color: transparent;
  right: -13px;
  left: auto;
  top: 20px;
}
.windows .i-s-right .i-mark {
  left: -14px;
}
.windows .i-s-left .i-mark {
  border-left-color: #191919;
}
.windows .i-s-right .i-mark {
  border-right-color: #191919;
}
.windows .i-s-bottom .i-mark {
  border-bottom-color: #191919;
}
.windows .i-mark {
  border-top-color: #191919;
}
.windows .i-mark {
  overflow: hidden;
  width: 0;
  height: 0;
  border: 7px solid;
  margin-top: -14px;
  border-color: transparent;
  position: absolute;
  bottom: -13px;
  left: 13px;
  border-top-color: #191919;
}
.windows.graphic .content .close {
  font-weight: bold;
  font-size: 17px;
}
.windows.hide-bg .bg {
  display: none !important;
}
.windows.shadow .content {
  border: solid #e8e6e6;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.windows.login .confirm-title {
  text-align: center;
  margin-bottom: 29px;
  font-size: 24px;
}
.windows.login .left,
.windows.login .right {
  display: inline-block;
  margin-bottom: 11px;
}
.windows.login .left {
  width: 0%;
  text-align: right;
}
.windows.login .right {
  width: 100%;
}
.windows.login .input {
  outline: none;
  height: 50px;
  width: 100%;
  /*margin-left: 10px;*/
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border: 0;
  border-radius: 7px;
  box-sizing: border-box;
}
.windows.login .input:focus, .windows.login .input:focus-within {
  border: 1px solid #b3b1b1;
}
.windows .dialog-confirm ~ .bg {
  background-color: #000;
  opacity: 0.7;
}
.windows.login .bg {
  background-color: #000;
  opacity: 0.7;
}
.windows.login .input::-webkit-input-placeholder, .windows.login .input::-moz-placeholder, .windows.login .input:-moz-placeholder, .windows.login .input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: inherit;
  color: #ccc;
}
.windows.login .dialog-confirm {
  background-color: #eee;
}
.windows .windows-freely {
  position: inherit;
}
.windows.ios .input-style,
.windows.ios .textarea-style {
  background-color: #d2d2d2;
}
.windows.ios input-style:focus-within {
  border: 1px solid #b3b1b1;
}
.windows.ios .textarea-style {
  height: 50px;
  width: 100%;
}
.windows.ios .dialog-confirm {
  border-radius: 0.7rem 0.7rem 0 0;
  background-color: rgba(54, 54, 54, 0.7490196078);
  /* #505050; */
  color: #c5c5c5;
  min-width: 260px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  overflow: visible;
}
.windows.ios .dialog-confirm .confirm-cancel,
.windows.ios .dialog-confirm .confirm-submit {
  position: absolute;
  bottom: -41px;
  right: 0;
  border-radius: 0 0 0.5rem 0;
  padding: 0;
  width: calc(20% - 0.5px);
  text-align: center;
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-weight: 200;
  border: 0;
}
.windows.ios .dialog-confirm .confirm-cancel {
  background-color: #353535;
  color: #656565;
}
.windows.ios .confirm-title {
  font-size: 20px;
  color: #fff;
}
.windows.ios .dialog-confirm .confirm-cancel:hover {
  background-color: #262626;
}
.windows.ios.prompt .dialog-confirm .confirm-submit {
  left: 0;
  border-radius: 0 0 0 0.7rem;
  width: calc(80% - 0.5px);
  font-size: 16px;
  /* font-weight: bold; */
  color: #000;
  letter-spacing: 7px;
  background-color: #8dc116;
}
.windows.ios .dialog-confirm .confirm-submit {
  left: 0;
  border-radius: 0 0 0 0.7rem;
  width: calc(80% - 0.5px);
  font-size: 16px;
  /* font-weight: bold; */
  color: #000;
  letter-spacing: 7px;
  background-color: #00bcd4;
  background-image: linear-gradient(164deg, rgba(0, 255, 0, 0), #2196f3);
  transition: all 0.5s ease-in-out;
}
.windows.ios .dialog-confirm .confirm-submit:hover {
  background-color: #8bc34a;
  color: #fff;
  /* color: #3a5200; */
}
.windows.ios.prompt .dialog-confirm .confirm-submit {
  background-color: #FFC107;
}
.windows.ios.prompt .dialog-confirm .confirm-submit:hover {
  background-color: #FFC720;
}
.windows.black .input-style {
  color: #fff;
}
.windows.simply .input-style {
  color: #000;
  margin-bottom: 5px;
  background-color: #ffffff;
}
.windows.simply.ios .content.dialog-confirm {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.windows.simply .dialog-confirm {
  overflow: visible;
  border-radius: 0.9rem 0 0.9rem 0.9rem;
}
.windows.simply .dialog-confirm .confirm-cancel.close {
  display: block;
  position: absolute;
  top: 0px;
  right: -32px;
  background-color: #FF5722;
  padding: 3px;
  border-radius: 0 0.9rem 0.3rem 0;
  height: 30px;
  color: #671f08;
  /* border: 1px solid #732c2c; */
  border-left: none;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  margin-top: 0;
}
.windows.simply .dialog-confirm .confirm-cancel.close:hover {
  background-color: #f15625;
  color: black;
  font-size: 22px;
}
.windows.simply .confirm .confirm-content .l-title {
  background-color: #2196F3;
  height: 27px;
  line-height: 27px;
  border-radius: 8px;
}
.windows.simply .dialog-confirm .confirm-submit,
.windows.simply .dialog-confirm .confirm-cancel {
  display: none;
}
.windows span.cur.beteen ~ span:not(.hover ~ span, .forbidden) {
  background-color: rgba(247, 152, 184, 0.2392156863);
  color: #fff;
}
.windows span.hover.beteen ~ span:not(.cur ~ span, .cur, .forbidden) {
  background-color: rgba(247, 152, 184, 0.2392156863);
}
.windows span.hover.current-month:not(.forbidden) {
  background-color: #E91E63 !important;
}
.windows span.cur {
  background-color: #E91E63 !important;
  color: #fff;
  border-color: #fff;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-width: 2px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 7px;
}

.selected-item {
  border-left: 5px solid #4c4c4c;
  background-color: #353535;
}

.confirm-cancel.close {
  display: none;
}

.input-style,
.textarea-style {
  outline: none;
  width: inherit;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  /* border: 3px solid transparent; */
  border-radius: 0.3rem;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
.input-style:focus, .input-style:focus-within,
.textarea-style:focus,
.textarea-style:focus-within {
  border-color: rgba(179, 177, 177, 0.2784313725);
}
.input-style[readonly],
.textarea-style[readonly] {
  background-color: #dedede;
  cursor: default;
  color: #9a9a9a;
}

.has-value input {
  border-color: rgba(179, 177, 177, 0.2784313725);
}

.tip-title {
  font-size: 20px;
  font-weight: 100;
}

.tip-content {
  font-size: 12px;
  font-weight: 300;
  margin: 4px;
  /* margin-top: 10px; */
}

.tip-submit .submit {
  float: right;
  margin-top: 10px;
  background-color: rgba(214, 153, 69, 0.2392156863);
  padding: 7px;
  /* border-radius: 7px; */
  border-radius: 5px 5px 18px 5px;
  /* border: 1px solid #ce9442; */
  margin-right: -10px;
}

/* 鼠标移入显示 */
.hover-show-hand,
input.hover-show-hand[readonly],
[e-dialog-handle] {
  cursor: pointer;
}

input.hover-show-hand[readonly],
.windows input.hover-show-hand[readonly] {
  background-color: #4CAF50;
  color: #fff;
}

.mark-right {
  position: absolute;
  top: -6px;
  right: 0;
  background-color: #f0ad4d;
  border-radius: 8px;
}

[data-text],
[text] {
  font-size: initial;
  display: inline-block;
  vertical-align: bottom;
}

[data-text]::before {
  content: attr(data-text);
}

[text]::before {
  content: attr(text);
}

[data-text]::before,
[text]::before {
  float: left;
  font-weight: bold;
  animation: markMove 2s infinite ease-in;
}

.loading:not(.dialog-tips) {
  display: inline-block;
}
.loading:not(.dialog-tips)::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-left: -15px;
  border-top: 2px solid #ff5721;
  border-right: 2px solid transparent;
  border-radius: 50%;
  -webkit-animation: loading 0.6s linear infinite;
  animation: loading 0.6s linear infinite;
  content: "";
}
.windows .loading:not(.dialog-tips).dialog-confirm {
  min-width: 200px;
  background: none;
}
.windows .loading:not(.dialog-tips).dialog-confirm .close {
  display: none !important;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@keyframes markMove {
  0%, 65% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  85% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.select-box {
  height: 30px;
  line-height: 30px;
  background-color: #424242;
  border-radius: 0.3rem;
  margin-right: 10px;
  color: #fff;
  margin-bottom: 7px;
}
.select-box .select, .select-box.multi .select.select-not-empty .selected {
  height: 30px;
  line-height: 30px;
}

.windows .select-box {
  background: none;
}
.windows .select-box .select-title {
  color: #5f5f5f;
}

.select-box .input-style {
  margin-left: 3px;
  background-color: #5f5f5f;
  color: #e5e5e5;
}

.select .select-close {
  display: none;
}
.select .selected .select-close {
  display: inline-block;
  position: absolute;
  overflow: inherit;
  width: 14px;
  height: 12px;
  line-height: 11px;
  font-weight: bold;
}

.select-box .count {
  display: inline-block;
  position: absolute;
  overflow: inherit;
  width: 14px;
  height: 12px;
  line-height: 11px;
  font-weight: bold;
}

/* .cur .select .selected .select-close,
  .cur .select .selected .item:hover .select-close {
      right: -9px;
      top: -9px;
  } */
.select .selected .select-close {
  right: -6px;
  top: -6px;
  border-radius: 7px;
  border: 1px solid #690202;
  background-color: #9c0606;
  color: #5d0000;
}

.cur .select .selected .select-close {
  border-radius: 8px;
  border: 3px solid rgba(255, 255, 255, 0.2392156863);
  background-color: #ff5823;
  color: #fff;
  width: 12px;
}

.select-box .count {
  padding: 2px 5px 2px 5px;
  width: auto;
  top: -8px;
  right: -8px;
  background-color: #2196F3;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 10px;
  z-index: 100;
}

.selected-clear {
  position: absolute;
  background-color: #ff5722;
  height: 16px;
  width: 18px;
  line-height: 16px;
  text-align: right;
  border-radius: 0 10px 10px 0;
  top: -8px;
  right: -25px;
  z-index: 15;
  border: 2px solid #ffffff;
  color: #fff;
  border-left: 0;
  font-weight: bold;
  padding-right: 5px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

/* 
  .windows .select-box .select .selected-clear{
      border: 3px solid #ffffff;
  } */
.select-box .count.hide,
.selected-clear.hide {
  display: none;
}

.select-title {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  font-size: 13px;
}

.select-box,
.select-title {
  display: inline-block;
}

.select .item {
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
}
.select .selected .item {
  display: block;
  background-color: #5f5f5f;
  color: #fff;
  border-radius: 0.3rem;
}

.cur .select .selected .item {
  padding: 2px;
}

.select-inner-search {
  display: none;
}

.cur .has-search .select-tips {
  display: none;
}
.cur .select-inner-search {
  display: flex;
}

.select,
.select-item {
  background-color: rgba(66, 66, 66, 0.1764705882);
}

.select {
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  min-width: auto;
  height: initial;
  /*overflow: hidden;*/
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}
.select .selected {
  height: initial;
  /*overflow: hidden;*/
  /*display: inline-block;*/
}

.cur .select {
  z-index: 1000;
  height: auto;
  border: 1px solid #000;
  border-radius: 16px 8px 8px 8px;
  padding: 7px;
  background-color: rgba(50, 50, 50, 0.5);
}
.cur .select.i-select-up {
  border: 0 !important;
  margin: 0;
}
.cur .select.i-select-up .selected {
  background-color: #424242;
  margin: 0 !important;
  border-radius: 0 0 5px 5px !important;
}
.cur .select.i-select-up .select-item {
  border-radius: 5px 5px 0 0;
  overflow: auto;
  height: auto !important;
  z-index: 11;
  background-color: rgba(50, 50, 50, 0.5);
  border: 1px solid #000;
}
.cur .select:not(.i-select-up), .cur .select.i-select-up .select-item {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.cur .select-tips {
  padding: 7px;
}

.select-box.cur .select .selected .item,
.select-box.cur .select .select-item .item:hover {
  background-color: #2096f3;
  border-radius: 10px;
  color: #fff;
  /*margin-left: 1px;*/
  cursor: pointer;
  /* border: 3px solid transparent; */
  border-color: rgba(255, 255, 255, 0.1764705882);
  font-weight: bold;
}

.cur .select .select-item .item {
  /* border-left-width: 5px; */
  margin-left: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 3px solid transparent;
}
.cur .select .select-item .item:hover {
  /* border-left-width: 5px; */
  margin-left: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 3px solid transparent;
}

.select .selected .item:hover {
  background-color: none;
}

.cur .select .selected {
  display: block;
  z-index: 12;
  position: relative;
}
.cur .select .select-item {
  z-index: 12;
  position: relative;
}

.select-item {
  overflow: auto;
  max-height: 300px;
  height: 0;
  min-width: 40px;
  text-align: left;
  /*display: none;*/
}

.cur .select .select-item {
  display: block;
  height: auto;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 0.3rem;
}

.select-not-empty .selected .select-info,
.select-item .select-info {
  display: none;
}

.select-box .select-item .default {
  background: #313131;
  border: 1px solid #151414;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 900;
  color: #141414;
  border-left-color: #252525 !important;
  border-left-width: 5px;
  margin-left: 0px;
}
.select-box .select-item .default:hover {
  background: #313131;
  border: 1px solid #151414;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 900;
  color: #141414;
  border-left-color: #252525 !important;
  border-left-width: 5px;
  margin-left: 0px;
}
.select-box.multi.cur .select.select-not-empty .selected {
  overflow: auto;
}
.select-box.multi.cur .select .selected {
  height: auto !important;
  min-width: fit-content;
  text-align: left;
  padding-bottom: 4px;
  border-bottom: 2px solid #2096f3;
  border-radius: 4px;
  margin: 3px;
  overflow: auto;
  max-height: 125px;
}
.select-box .select.select-not-empty {
  max-width: 300px;
  /* min-width: fit-content; */
}
.select-box .select.select-not-empty .selected {
  max-width: 300px;
  /* min-width: fit-content; */
}
.select-box.multi .select .selected .item {
  display: none;
}
.select-box.multi .select .selected .item.select-info {
  display: block;
}
.select-box.multi.cur .select .selected .item {
  background: #313131;
  border: 1px solid #151414;
  /* border-radius: 3px; */
  /* font-size: 13px; */
  /* font-weight: 900; */
  color: #9e9e9e;
  border-left-color: #252525;
  border-left-width: 4px;
  margin: 2px;
  display: inline-block;
  position: relative;
  margin-top: 5px;
  margin-right: 4px;
}
.select-box.multi.cur .select .selected .item.select-info {
  border-left-color: #2096f3 !important;
  display: block;
}
.select-box.multi.cur .select .selected .item:hover {
  background-color: #3a3939;
  /*border-right-color: #9b0607;*/
  border-left-width: 1px;
  border-right-width: 4px;
}
.select-box.multi.cur .select .selected .item:hover .select-close {
  background-color: #9c0606;
  border: 1px solid #690202;
  color: #e3e3e3;
  right: -6px;
  top: -6px;
}
.select-box.multi .select .selected .select-close {
  display: none;
}
.select-box.multi.cur .select .selected .select-close {
  display: block;
  text-align: center;
  border-color: #212121;
  background-color: #252525;
}

/*多选/已选中的*/
/* .select-box .select.cur.select-not-empty, */
/*.select-box.multi .select.cur .count{
      top: 0;
      right: 0;
  }*/
/* .select-box.multi .select.select-not-empty.cur .selected .select-info {
      display: none;
  } */
.shadow-bg {
  display: none;
}

.select-box.cur .shadow-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: default;
  display: block;
}
.select-box .multi-title {
  display: inline-block;
  padding-right: 7px;
}
.select-box.cur .select .selected .multi-title {
  font-weight: bold;
}
.select-box .multi-info {
  color: #a2a2a2;
}

.select-item .item:hover .multi-info {
  color: #acdafe;
}

.picker-hour {
  display: inline-block;
  margin-top: 12px;
}

.time-submit {
  display: inline-block;
  background-color: #673AB7;
  padding: 6px;
  border-radius: 3px;
  margin-left: 8px;
  color: #e5e5e5;
  cursor: pointer;
}

.select-box.multi .select.select-not-empty .selected {
  /* padding-bottom: 4px; */
  border-bottom: 1px solid #2096f3;
  border-radius: 4px;
  /* max-width: 200px; */
  min-width: fit-content;
  overflow: hidden;
}

/* 防止多选滚动 */
/* .select-box.multi .select.select-not-empty.cur .selected{
      overflow: auto;
  } */
/*.select-box.multi .select .selected .item.select-info*/
.select-not-empty .item.select-info {
  display: none;
}

.select-box.multi .select.select-not-empty .selected .item.select-info {
  display: none;
}
.select-box.multi .has-search .select-info {
  display: block;
}
.select-box.multi .select-not-empty .selected .item {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  /*margin:2px;*/
  text-align: left;
}

/*.picker-hour .select-box */
/* 弹窗内的select控件的样式补充 ################################################*/
/* .windows .select-box {
      border-radius: 0.3rem;
      background: none;
      color: #333;
  }
  .windows .select .selected .select-close {
      color: #fff;
  }
  .windows .select .selected .item {
      background-color: #fff;
      color: #333;
  }
  .windows .select.cur .selected .item,
  .windows .select.cur .item:hover {
      background-color: #fff;
      color: #333;
  }
  .windows .select.cur .select-item .item:hover {
      background-color: #e1e1e1;
  }
  .windows .select-box .select {
      background-color: #fff;
      color: #333;
  }
  .windows .select-box .select .select-item{

      background-color: #fff;
  }
  .windows .select.i-select-up.cur .selected{
      background-color: #ffffff;
      margin: 0!important;
      border-radius: 0 0 7px 7px !important;
  }
  .windows .select-box .select.cur,
  .windows .select-box .select.cur.i-select-up .select-item {
      box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  }
  .windows .select-box .select .count {
      color: #f9f9f9;
      border: 3px solid #edf2f9;
      border-radius: 12px;
      top: -7px;
      right: -7px;
  }
  .windows .select-box .select-item .default,
  .windows .select-box .select-item .default:hover {
      background: #2196F3 !important;
      border: 0px;
      color: #f9f9f9;
  }

  .windows .select-box.multi .select.cur .selected .item {
      background: #fff;
      border-color: #2c7be5;
      color: #184888;
  }

  .windows .select-box.multi .select.cur .selected .item:hover {
      background-color: #f3f3f3;
  }

  .windows .select-box.multi .select.cur .selected .select-close {
      background-color: #2c7be5;
  } */
.cur .select .selected .item:not(.select-info):hover {
  -ms-animation-name: little-shake;
  animation-name: little-shake;
  -ms-animation-duration: 100ms;
  animation-duration: 100ms;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -ms-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes little-shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  100% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
}
.select-simply {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  color: #020202;
  border-left-color: #e2e2e2;
  border-left-width: 4px;
  display: inline-block;
  padding: 3px;
  height: 20px;
  line-height: 20px;
  border-radius: 11px;
  padding-left: 9px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.select-simply .select-simply-close {
  color: #ffffff;
  /* font-size: 15px; */
  background-color: #E91E63;
  text-align: center;
  border-radius: 4px 10px 10px 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 4px;
  display: inline-block;
}

.select-inner-search {
  margin: 3px;
}
.select-inner-search .search-input {
  background-color: #d4d4d4;
  /* color: #cacaca; */
  outline: none;
  /* height: 30px; */
  width: inherit;
  /* margin-left: 10px; */
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border: 0;
  border-radius: 9px;
  width: 100%;
  /* background-color: #dedede; */
}

.selected.has-search .item.select-info .search-input {
  height: 100px;
  background-color: #313131;
  color: #d6d6d6;
  font-family: "Source Code Pro";
}

.windows .select-box .select-title:empty {
  display: none;
}

.search-select .items {
  border-radius: 2px;
  padding: 0 7px 0 7px;
  border: 2px solid transparent;
  margin-bottom: 3px;
}
.search-select .items:hover, .search-select .items.selected {
  background-color: #2096f3;
  color: #fff;
  /* margin-left: 1px; */
  cursor: pointer;
  border: 2px solid transparent;
  border-color: rgba(255, 255, 255, 0.1764705882);
  font-weight: bold;
}
.search-select .items:first-child {
  border-top-left-radius: 13px;
  border-top-right-radius: 6px;
}
.search-select .items:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 0;
}
.search-select .select {
  padding: 5px;
}

.search-bar {
  width: inherit;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0.3rem;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 15px;
  line-height: 25px;
  height: 26px;
  display: inline-flex;
}
.search-bar .item {
  background-color: #673ab7;
  color: #fff;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.1764705882);
  font-weight: bold;
  margin-right: 1px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 10px;
  zoom: 0.9;
  border: 2px solid rgba(0, 0, 0, 0.2392156863);
  overflow: hidden;
}
.search-bar .item:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.search-bar .item:last-child {
  margin-bottom: 0;
}
.search-bar .item:hover {
  width: auto;
  flex: 100%;
  text-align: center;
}
.search-bar > div {
  display: inline-block;
  max-width: 301px;
  overflow: auto;
  height: 25px;
  line-height: 25px;
  display: flex;
}
.search-bar.label-input:hover .label-clear {
  top: 6px;
}
.search-bar input {
  box-sizing: content-box;
  padding: 3px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100px !important;
}
.search-bar input, .search-bar input:focus, .search-bar input:focus-within {
  border-color: transparent;
  vertical-align: top;
}

/* .windows .select-box, .windows .select-box .select {
      min-height: auto;
      height: auto;
      display: flex;
      flex-direction: column;
  } */
@keyframes toshow {
  from {
    width: 70px;
    border-radius: 0.3rem;
  }
  to {
    width: 150px;
    border-radius: 11px;
  }
}
.writing {
  border: 1px solid #b3b1b1;
  width: 200px !important;
  /*color: #3a5a14 !important;*/
  /*background-color: #CDDC39!important;*/
}

.times {
  /* background-color: #242424; */
  width: 217px;
  width: 217px;
  border-radius: 0.7rem;
  border: 1px solid #000;
  /* width: 217px; */
  padding: 14px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.031372549), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.031372549), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.0509803922), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.031372549);
  /* 不支持 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.1 Safari/605.1.15 */
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(50, 50, 50, 0.7019607843);
  z-index: 0;
  position: relative;
  /* 年月 */
}
.times .title {
  position: relative;
  color: #fff;
}
.times.hms .title, .times.ym .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 100;
}
.times.hms .title .time-hms, .times.ym .title .time-hms {
  font-weight: bold;
}
.times.ym .yearsormonth {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.times.ym .yearsormonth > span {
  width: 30%;
}
html .windows .content .times > .current-month:not(.forbidden):hover, html .windows .content .times > .prev-month:not(.forbidden):hover, html .windows .content .times > .next-month:not(.forbidden):hover {
  overflow: hidden;
  position: relative;
  background-color: transparent !important;
  border: 0px solid transparent;
  border-radius: 6px;
  width: 27px;
  height: 27px;
  line-height: 27px;
  z-index: 10;
}
html .windows .content .times > .current-month:not(.forbidden):hover:before, html .windows .content .times > .prev-month:not(.forbidden):hover:before, html .windows .content .times > .next-month:not(.forbidden):hover:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: #fff;
  animation: curi 1s infinite linear;
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
  z-index: -1;
}
html .windows .content .times > .current-month:not(.forbidden):hover:after, html .windows .content .times > .prev-month:not(.forbidden):hover:after, html .windows .content .times > .next-month:not(.forbidden):hover:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  background: #E91E63;
  border-radius: 5px;
  z-index: -1;
}
@keyframes curi {
  to {
    transform: rotate(1turn);
  }
}
.times .timea-show-hms-box {
  margin-top: 5px;
  color: #fff;
  background-color: rgba(48, 48, 48, 0.2901960784);
  padding: 3px;
  border-radius: 5px;
}
.times .timea-show-hms-box .timea-show-hms {
  margin-left: 5px;
  display: inline-block;
}
.times .timea-show-hms-box .timea-show-hms > span {
  margin: 3px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4196078431);
  padding: 6px;
  border-radius: 5px;
}
.times .forbidden.current-month, .times .forbidden.next-month, .times .forbidden.prev-month {
  background-color: rgba(167, 167, 167, 0.2392156863);
  color: #747474;
  cursor: default;
  font-weight: initial;
}
.times .forbidden.current-month:hover, .times .forbidden.next-month:hover, .times .forbidden.prev-month:hover {
  background-color: rgba(167, 167, 167, 0.2392156863);
  color: #747474;
  cursor: default;
  font-weight: initial;
}

.title-month,
.current-month,
.times .prev-month:hover,
.times .next-month:hover,
.prev-month,
.next-month {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  padding: 1px;
  overflow: auto;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  /*margin: 1px;*/
  /* background-color: #242424; */
  margin: 1px;
}

.times .i-mark {
  background-color: #242424;
}

.prev-month,
.next-month {
  color: #696969;
}

.prev-month:hover,
.next-month:hover {
  background-color: #2c7be5;
  color: #fff;
  font-weight: 700;
}

.current-month:hover, .times .prev-month:hover, .times .next-month:hover {
  background-color: #2c7be5;
  color: #fff;
  font-weight: 700;
}

.title-month {
  /* border-radius: 0; */
  /* border-color: #808080; */
  background-color: #2c2c2c;
  /*/* color: #fff;*/
  font-weight: 700;
}

.month-select {
  text-align: center;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
}
.month-select .prev-month,
.month-select .next-month {
  width: 25px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
}
.month-select .prev-month {
  left: 0;
}
.month-select .next-month {
  right: 0;
}

/* 时间选择样式内的小箭头 */
.windows.times-picker .i-mark {
  border-top-color: #191919;
}
.windows.times-picker .i-s-right .i-mark {
  border-top-color: transparent;
  border-right-color: #191919;
}
.windows.times-picker .i-s-bottom .i-mark {
  border-top-color: transparent;
  border-bottom-color: #191919;
}
.windows.times-picker .i-s-left .i-mark {
  border-top-color: transparent;
  border-left-color: #191919;
}

.times-simply {
  background: #313131;
  border: 1px solid #151414;
  color: #9e9e9e;
  border-left-color: #252525;
  border-left-width: 4px;
  display: inline-block;
  padding: 3px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  padding-left: 9px;
  margin-top: -2px;
}
.times-simply:last-child {
  margin-left: 3px;
}
.times-simply .time-simply-close {
  color: #828282;
  /* font-size: 15px; */
  background-color: #242424;
  text-align: center;
  border-radius: 4px 10px 10px 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 4px;
  display: inline-block;
}

.input-simply-text.input-style.date-slot {
  display: flex;
  min-width: 200px;
  width: auto;
  height: 24px;
  line-height: 24px;
  padding: 0;
  margin: 2px 0 2px 0;
}
.input-simply-text.input-style.date-slot.writing {
  width: auto !important;
  border: 0;
}
.input-simply-text.input-style.date-slot::before {
  content: attr(data-tips);
  flex: none;
  margin-right: 5px;
  padding-left: 5px;
  color: #757575;
}
.input-simply-text.input-style.date-slot .input-box {
  width: 100%;
}

.box-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.slider-room {
  position: relative;
  margin-top: 40px;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

.slider {
  height: 4px;
  line-height: 4px;
  background-color: #e0e0e0;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  margin-top: 40px;
  width: 73%;
  margin: auto 2%;
  display: inline-block;
}

.slider-bar {
  display: inline-block;
  position: relative;
}

.slider-min,
.slider-max,
.slider-bar .slider-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #2196f3;
  border-radius: 10px;
  border: 3px solid #f7f7f7;
  margin-top: -6px;
  cursor: pointer;
  vertical-align: middle;
}

.slider-room .slider-min:hover, .slider-room .slider-max:hover,
.slider-bar:hover .slider-circle {
  transform: scale(1.5);
  transition: all 0.2s linear;
}

.slider-bar:hover .slider-tip {
  transform: scale(1.2);
  top: -50px;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.slider-tip {
  border-radius: 10px;
  /* border: 2px solid #d2d2d2; */
  position: absolute;
  top: -42px;
  left: -8px;
  color: #f1f1f1;
  font-weight: bold;
  background-color: #2196f3;
  min-width: 15px;
  display: inline-block !important;
  padding: 10px;
  text-align: center;
}

.slider-tip::before {
  content: "";
  display: inline-block;
  overflow: hidden;
  border-top-width: 30px;
  width: 0;
  height: 0;
  border: 6px solid;
  /* margin-top: 1px; */
  border-color: transparent;
  position: absolute;
  bottom: -13px;
  left: 10;
  border-top-color: #2196f3;
}

.show-min-max.slider-room .slider-min,
.show-min-max.slider-room .slider-max {
  line-height: 12px;
  width: 13px;
  padding: 0;
}

.show-min-max.slider-room .slider {
  width: 85%;
}

.slider-room .slider-min,
.slider-room .slider-max {
  text-align: center;
  font-weight: bold;
  top: 0;
  color: #fff;
  width: auto;
  height: 13px;
  line-height: 13px;
  border-radius: 9px;
  padding: 0 3 0 3;
}

.slider-min {
  left: -18px;
}

.slider-max {
  right: -18px;
}

/* @font-face {
    font-family: 'Futura PT';
    src: url(../FuturaPT.woff2);
} */
body,
html {
  font-family: "Futura PT", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 开关样式 */
.i-state {
  display: inline-block;
  width: 34px;
  height: 20px;
  position: relative;
  margin: 10px 10px 10px 10px;
  vertical-align: middle;
}
.i-state::after, .i-state::before {
  content: "";
  display: inline-block;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  border: 1px solid #ffffff;
}
.i-state::after {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  animation-fill-mode: forwards;
  box-shadow: inset 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.i-state::before {
  width: 100%;
  height: 100%;
  /* border: 1px solid transparent; */
  border: 2px solid rgba(255, 255, 255, 0.168627451);
  box-shadow: inset 20px -17rem 0rem 0px rgba(4, 9, 20, 0.03), inset 0 0.9375rem 0rem rgba(4, 9, 20, 0.03), inset 0 0.25rem 0rem rgba(4, 9, 20, 0.05), inset 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

/* rgb(102, 51, 153) */
._open.i-state::before {
  background-color: #8bc34a;
  animation: tomovecoloropen 1s;
}
._open.i-state::after {
  margin-left: 17px;
  animation: tomoveopen 0.3s;
}

._close.i-state::before {
  background-color: #c9cacc;
  animation: tomovecolorclose 1s;
}
._close.i-state::after {
  margin-left: 3px;
  animation: tomoveclose 0.3s;
}

._tomovezero {
  /* width: 0 !important; */
  animation: tomovezero 0.3s;
}

@keyframes tomovezero {
  to {
    width: 0;
  }
}
@keyframes tomoveclose {
  to {
    margin-left: 2px;
  }
  from {
    margin-left: 16px;
  }
}
@keyframes tomoveopen {
  to {
    margin-left: 16px;
  }
  from {
    margin-left: 2px;
  }
}
@keyframes tomovecolorclose {
  to {
    background-color: #c9cacc;
  }
  from {
    background-color: #8bc34a;
  }
}
@keyframes tomovecoloropen {
  to {
    background-color: #8bc34a;
  }
  from {
    background-color: #c9cacc;
  }
}
/* ---------------------------------------------------------- */
.uppercase {
  text-transform: uppercase;
}

.color-box {
  padding: 2px 7px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  background: #2196f3;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.168627451);
}
.color-box.button {
  border-width: 3px !important;
  display: inline-block;
  border-radius: 10px !important;
  box-shadow: inset 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.color-box-red {
  background: #d43241;
  color: #fff;
}

.color-box-green {
  background: #8bc34a;
  color: #fff;
}

.color-box-gray {
  background: #c9cacc;
  color: #767676;
}

.color-box-yellow {
  background: #f6b431;
  color: #583f0e;
}

.windows.ios .line .color1, .windows.ios .line.color1 {
  background-color: #2196f3;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.windows.ios > * .line.color2 {
  background-color: #00bcd4;
  color: #fff;
}

.b {
  /*isplay: inline-block; */
  /* background-color: #8ec116; */
  padding-left: 10px;
  padding-right: 10px;
  /* color: #fff; */
  /* border-radius: 0.3rem; */
  margin-left: 7px;
  font-weight: bold;
}

.color-linear {
  padding: 9px;
  height: 20px;
  line-height: 20px;
  background: #ffdd40;
  text-transform: uppercase;
  color: #000;
  border-radius: 5px;
  border-bottom: 1px solid #167ba0;
  border-right: 1px solid #167ba0;
  display: inline-block;
  margin: 5px;
  color: #000;
  background-image: linear-gradient(45deg, #cddc39, #7AFFAF);
}

.buttons {
  color: #000;
  background-image: linear-gradient(45deg, #cddc39, #7AFFAF);
}

.dropshow {
  border: 3px dashed #333;
  border-radius: 10px;
  padding: 20px;
}

.dropover {
  border: 3px dashed #fff;
}

.xbg {
  height: 15px;
  background-color: 484747;
  border-radius: 7px;
  box-shadow: inset 20px -17rem 0rem 0px rgba(4, 9, 20, 0.03), inset 0 0.9375rem 0rem rgba(4, 9, 20, 0.03), inset 0 0.25rem 0rem rgba(4, 9, 20, 0.05), inset 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.pertxt {
  position: absolute;
  right: 0;
  top: -4px;
  background-color: #2196f3;
  color: #fff;
  display: inline;
  height: 10px;
  line-height: 10px;
  padding: 3px;
  border-radius: 10px;
  font-size: 8px;
  box-shadow: inset 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border: 3px solid rgba(255, 255, 255, 0.2392156863);
}

.per {
  min-width: 24px;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.upload-progress {
  font-weight: bold;
  font-size: 12px;
}

.upload-retry {
  background-color: #ff5722;
}

.upload-complete {
  min-width: 10px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.line {
  height: auto;
  margin-bottom: 4px;
  position: relative;
}

.windows.ios .line {
  background-color: rgba(58, 58, 58, 0.5411764706);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #313131;
}

.red {
  background-color: #c9302c !important;
}

body {
  background: #333333;
}