@use "/Users/soei/runJs/use/checkbox.scss";
@use "/Users/soei/runJs/use/radio.scss";
@use "/Users/soei/runJs/use/windows.scss";
@use "/Users/soei/runJs/use/select.scss";
@use "/Users/soei/runJs/use/times.scss";
@use "/Users/soei/runJs/use/slider.scss";
@use "/Users/soei/runJs/use/css/common.scss";

.line {
	height: auto;
	margin-bottom: 4px;
	position: relative;
}

.windows.ios .line {
	background-color: #3a3a3a8a;
	border-radius: 10px;
	padding: 20px;
	border: 1px solid #313131;
}

.red {
	background-color: #c9302c !important;
}

body {
	// background-color: #cddc39;
	// background-image: linear-gradient(319deg, rgb(255 255 255 / 0%), #cddc39)
	background: #333333;
}

.city-items {
	margin-bottom: 20px;
}

.error-tips {
	color: #FF5722;
	text-align: center;
	margin: 10px;
	margin-bottom: 20px;
}

.windows.ios .wea.line {
	padding: 2px;
}

.tq {
	color: #000
}

.city {
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	margin-bottom: 10px;
	color: #fff;
}

.days {

	.tip-msg,
	.error-tips,
	.city-items {
		padding: 0 10px;
	}

	display: flex;
	justify-content: space-between;

	.day-box {
		perspective: 700px;
		position: relative;

		.narrative {
			font-size: 10px;
			zoom: 0.9;
			color: #00bcd4;
		}
		// &:first-child {
		// 	width: auto;
		// 	display: block;
		// }
		& .day {
			// position: relative;
			z-index: 20;
			transform: rotateY(0deg);

			img {
				position: absolute;
				top: -30px;
				right: -30px;
				width: 110px;
				z-index: 10;
				opacity: 1;
				transition: 1s ease-in-out;
			}
		}

		& .back {
			height: 100%;
			width: 100%;
			// position: absolute;
			top: 0;
			left: 0;
			// background-color: #f6f9f9;
			transform: rotateY(-180deg);
			z-index: 1;
			background-image: linear-gradient(320deg, rgb(255 255 255), #cddc39);

			img {
				transition: 1s ease-in-out;
				margin-top: 0px;
			}
		}

		$TQ: (
			"qing": #ebe5ad,
			'yin': #cac8c8,
			'yun': #ffefc4,
			'yu': #bed1ff,
			'lei': #9798aa,
			'shachen': #9cb54c,
			'xue': #dedede
			);

		@each $key, $color in $TQ {
			&.#{$key}{
				& >.day{
					background-image: linear-gradient(34deg, rgb(255 255 255), $color)
				}
				& >.back{
					background-image: linear-gradient(320deg, rgb(255 255 255), $color)
				}
			}
		}
		/* &.yin{
			& >.day{
				background-image: linear-gradient(34deg, rgb(255 255 255), #cac8c8)
			}
			& >.back{
				background-image: linear-gradient(320deg, rgb(255 255 255), #cac8c8)
			}
		} 
		&.yun{
			& >.day{
				background-image: linear-gradient(34deg, rgb(255 255 255), #ffefc4)
			}
			& >.back{
				background-image: linear-gradient(320deg, rgb(255 255 255), #ffefc4)
			}
		}
		&.yu{
			& >.day{
				background-image: linear-gradient(34deg, rgb(255 255 255), #bed1ff)
			}
			& >.back{
				background-image: linear-gradient(320deg, rgb(255 255 255), #bed1ff)
			}
		}
		&.lei{
			& >.day{
				background-image: linear-gradient(34deg, rgb(255 255 255), #9798aa)
			}
			& >.back{
				background-image: linear-gradient(320deg, rgb(255 255 255), #9798aa)
			}
		}
		&.shachen{
			& >.day{
				background-image: linear-gradient(34deg, rgb(255 255 255), #9cb54c)
			}
			& >.back{
				background-image: linear-gradient(320deg, rgb(255 255 255), #9cb54c)
			}
		}
		&.xue{
			& >.day{
				background-image: linear-gradient(34deg, rgb(255 255 255), #dedede)
			}
			& >.back{
				background-image: linear-gradient(320deg, rgb(255 255 255), #dedede)
			}
		}*/

		&:hover {
			& .day {
				img {
					opacity: 0;
					top: -0;
					right: 0;
				}
				transform: rotateY(180deg);
			}

			& .back {
				transform: rotateY(0deg);

				img {
					margin-top: -60px;
				}
			}
		}

		&>div {
			border-radius: 10px;
			// margin: 3px;
			padding: 6px;

			font-weight: 300;
			border: 1px solid #222;
			box-sizing: border-box;
			position: absolute;
			transition: 1s ease-in-out;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			transform-style: preserve-3d;

			&>* {
				display: flex;

				&>span {
					width: 100%;

					&:not(.t) {
						color: #ff5722;
						text-align: right;
					}
				}
			}

			&>* {
				margin: 7px;
			}
			& .t {
				display: inline-block;
				width: 100%;
			}

		}

		height: 260px;

		width: calc(100% / 7);
	}

	.day {
		&:hover {
			img {
				animation: markMove 2s infinite ease-in;
			}
		}

		background-image: linear-gradient(34deg, rgb(255 255 255), #ebe5ad);
		background-color: #000;

		&>.date {
			font-size: 10px;
			zoom: 0.9;
			color: #ff9800;
		}
	}

	.empty-search {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 15px;
		height: 100px;
		line-height: 100px;
		color: #fff;
	}

	.day-title {
		font-size: 15px;
		font-weight: 700;
	}

}


.windows.ios .dialog-confirm {
	backdrop-filter: saturate(180%) blur(20px);

	.rainbox {
		overflow-x: hidden !important;
	}
}

@media (max-width: 900px) {
	body>img {
		width: 100% !important;
	}

	.days {
		display: block;

		.day-box {
			&:first-child {
				width: 100%;
			}

			&:not(:first-child) {
				display: inline-block;
				width: calc(100% / 3);
			}
		}
	}
}

@media (max-width: 500px) {
	.days {
		.day-box {
			&:first-child {
				width: 100%;
			}

			&:not(:first-child) {
				display: inline-block;
				width: calc(100% / 2);
			}
		}
	}
}