@use "/Users/soei/runJs/use/checkbox.scss";
@use "/Users/soei/runJs/use/radio.scss";
@use "/Users/soei/runJs/use/windows.scss";
@use "/Users/soei/runJs/use/select.scss";
@use "/Users/soei/runJs/use/times.scss";
@use "/Users/soei/runJs/use/slider.scss";
@use "/Users/soei/runJs/use/css/common.scss";

.line {
	height: auto;
	margin-bottom: 4px;
	position: relative;
}

.windows.ios .line {
	background-color: #3a3a3a8a;
	border-radius: 10px;
	padding: 20px;
	border: 1px solid #313131;
}
.red {
    background-color: #c9302c !important;
}
body{
    // background-color: #cddc39;
    // background-image: linear-gradient(319deg, rgb(255 255 255 / 0%), #cddc39)
	background: #333333;
}

.city-items{
	margin-bottom: 20px;
}
.error-tips{
	color:#FF5722;
	text-align: center;
	margin: 10px;
	margin-bottom: 20px;
}
.windows.ios .wea.line{
	padding: 2px;
}
.tq{
	color: #000
}
.city {
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	margin-bottom: 10px;
	color: #fff;
}
.days{
	display: flex;
	justify-content: space-between;
}
.tip-msg,.error-tips,.city-items{
	padding:0 10px;
}
.day{
	background-repeat: no-repeat;
	background-size: 50px auto;
	background-position: right top;
	// width: 120px;
	background-color: #d3d0d0;
	border-radius: 10px;
	margin: 3px;
	padding: 6px;

    font-weight: 300;
	&>*{
		margin: 7px;;
	}
	&:first-child {
		width: auto;
		display: block;
	}
	border: 1px solid #222;
    box-sizing: border-box;
	& > .date{
		font-size: 10px;
		zoom: 0.9;
		color: #ff9800;;
	}
	& > * {
		display: flex;
		&>span{
			width: 100%;
			&:not(.t){
				color: #ff5722;
				text-align: right;
			}
		}
	}
	& .t{
		display: inline-block;
		width: 100%;
	}
	.narrative{
		font-size: 10px;
		zoom: 0.9;
		color: #00bcd4;
	}
	position: relative;
	img {
		position: absolute;
		top: -30px;
		right: -30px;
		width: 110px;
		z-index: 10;
	}
}
.empty-search{
	display:block;
	width:100%;
	text-align:center;
	font-size:15px;
	height:100px;
	line-height:100px;
	color: #fff;
}
.day-title{
	font-size: 15px;
	font-weight: 700;
}
.windows.ios .dialog-confirm {
    backdrop-filter: saturate(180%) blur(20px);
}
@media (max-width: 700px){
	body > img {
		width: 100% !important;
	}
	.days {
		display: block;
		.day:not(:first-child){
			display: inline-block;
			width: calc(100% / 3 - 6px);
		}
	}
}
@media (max-width: 500px){
	.days {
		.day:not(:first-child){
			display: inline-block;
			width: calc(100% / 2 - 6px);
		}
	}
}